# Sistema de diretórios padrão
node_modules/
dist/
build/
tmp/
temp/
.cache/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários de editores
*.log
*.swp
*.swo
*.tmp
*.bak
*.old

# VSCode e IDEs
.vscode/
.idea/

# Arquivos do navegador ou de preview local
*.local
*.env

# Git arquivos de merge temporários
*.orig